/*main text color #212121; */
/*additional text color #757575;*/
/* accent color text #2196F3; */
/*background color #FFFFFF;*/
/* background top color 2F303A */
/*background team color #F5F4FA;  */
:root {
  --background-color: #ffffff;
  --main-text-color: #757575;
  --focus-color: #2196f3;
  --title-color: #212121;
  --grey-bkg: #f5f4fa;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

section {
  padding-bottom: 94px;
  padding-top: 94px;
}

body {
  background-color: var(--background-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid blue;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}

h1,
h2,
h3 {
  color: var(--title-color);
  margin-top: 0px;
}

.logo {
  list-style: none;
  color: var(--title-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-focus {
  color: var(--focus-color);
}

/* a {
  text-decoration: none;
} */

/* site nav */
header * {
  text-decoration: none;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--focus-color);
}

.site-nav .link {
  color: var(--title-color);
}

.site-nav .link.active {
  color: var(--focus-color);
}

.site-nav > li:hover,
.site-nav > li:focus {
  color: var(--focus-color);
}

/* Hero section */
.hero {
  background-color: #2f303a;
  letter-spacing: 0.06em;
  text-align: center;
}
.hero > .container {
  max-width: 696px;
}

.hero-title {
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-button {
  color: var(--background-color);
  background-color: var(--focus-color);
  font-weight: 700;
  font-size: 16px;
  border: 0px;
  line-height: 1.87;
  text-align: center;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* advantages */
.advantage {
  font-size: 14px;
  line-height: 1.71;
}

.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text {
  margin: 0px;
}

/* Section-services */
.section-services {
  padding-top: 0px;
}

.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.section-team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  background: var(--grey-bkg);
}

.member-title {
  font-weight: 500;
  margin-bottom: 10px;
}

/* footer */
footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .logo {
  color: var(--background-color);
  text-decoration: none;
  margin-bottom: 20px;
}

.footer-adress {
  font-size: 14px;
  line-height: 1.71;
  color: var(--background-color);
  font-style: normal;
  text-decoration: none;
  margin-bottom: 9px;
}
.dark {
  color: rgba(255, 255, 255, 0.6);
}

/* portfolio styles */
.portfolio-title {
  color: var(--title-color);
}

.filter-button {
  background-color: var(--grey-bkg);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 6px 22px;
  border-color: var(--grey-bkg);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--background-color);
  background-color: var(--focus-color);
  border-color: var(--focus-color);
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-bottom: 4px;
}
.portfolio-item {
  border: 1px solid #eeeeee;
  padding-bottom: 20px;
}
.portfolio-item .text {
  font-size: 16px;
  line-height: 1.87;
}
