/*main text color #212121; */
/*additional text color #757575;*/
/* accent color text #2196F3; */
/*background color #FFFFFF;*/
/* background top color 2F303A */
/*background team color #F5F4FA;  */
:root {
  --background-color: #ffffff;
  --main-text-color: #757575;
  --focus-color: #2196f3;
  --title-color: #212121;
}
body {
  background-color: var(--background-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
h1,
h2,
h3 {
  color: var(--title-color);
}
.logo {
  list-style: none;
  color: var(--title-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-focus {
  color: var(--focus-color);
}
a {
  text-decoration: none;
}
/* site nav */
header {
}
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--focus-color);
}
.site-nav .link {
  color: var(--title-color);
}
.site-nav .link.active {
  color: var(--focus-color);
}
.site-nav > li:hover,
.site-nav > li:focus {
  color: var(--focus-color);
}
/* Hero section */
.hero {
  background-color: #2f303a;
  letter-spacing: 0.06em;
}
.hero-title {
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}
.hero-button {
  color: var(--background-color);
  background-color: var(--focus-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  text-align: center;
}
/* advantages */
.advantage {
  font-size: 14px;
  line-height: 1.71;
}
.advantage-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
/* Section */
.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section-team {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.section-team h3 {
  font-weight: 500;
}
/* footer */
footer {
  background-color: #2f303a;
  font-size: 14px;
  line-height: 1.71;
  color: var(--background-color);
}
footer .logo {
  color: var(--background-color);
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}
/* portfolio styles */
.portfolio-title {
  color: var(--title-color);
}

.filter-button {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.portfolio-filter .filter-button:hover,
.portfolio-filter .filter-button:focus {
  color: var(--background-color);
  background-color: var(--focus-color);
}
.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-item p {
  font-size: 16px;
  line-height: 1.87;
}
